parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - Model
        - Setup
        - ViewModel
    excludePaths:
        - Test/*
    ignoreErrors:
        -
            identifier: missingType.iterableValue
