<?xml version="1.0"?>
<!--
See LICENSE.md for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <postdirekt>
            <autocomplete>
                <version>1.3.0</version>
            </autocomplete>
        </postdirekt>
    </default>
</config>
