<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="postdirekt">
            <group id="autocomplete" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Autocomplete</label>
                <field id="autocompleteInfoBox" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Netresearch\ConfigFields\Block\InfoBox</frontend_model>
                    <attribute type="body_template">PostDirekt_Autocomplete::system/config/infoBoxBody.phtml</attribute>
                    <attribute type="header_template">PostDirekt_Autocomplete::system/config/infoBoxHeader.phtml</attribute>
                    <attribute type="view_model">PostDirekt\Autocomplete\ViewModel\Adminhtml\System\InfoBox</attribute>
                    <attribute type="logo">PostDirekt_Autocomplete::images/logo_datafactory.png</attribute>
                    <attribute type="css_class">autocomplete</attribute>
                </field>
                <field id="active" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0"
                        translate="label" type="Netresearch\ConfigFields\Model\Type\Checkbox">
                    <label>Address autocompletion</label>
                    <button_label>Enabled</button_label>
                </field>
             </group>
        </section>
    </system>
</config>
