<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="postdirekt">
            <group id="autocomplete" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Autocomplete</label>
                <field id="autocompleteInfoBox" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Netresearch\ConfigFields\Block\InfoBox</frontend_model>
                    <attribute type="body_template">PostDirekt_Autocomplete::system/config/infoBoxBody.phtml</attribute>
                    <attribute type="header_template">PostDirekt_Autocomplete::system/config/infoBoxHeader.phtml</attribute>
                    <attribute type="view_model">PostDirekt\Autocomplete\ViewModel\Adminhtml\System\InfoBox</attribute>
                    <attribute type="logo">PostDirekt_Autocomplete::images/logo_datafactory.png</attribute>
                    <attribute type="css_class">autocomplete</attribute>
                </field>
                <field id="active" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0"
                        translate="label" type="Netresearch\ConfigFields\Model\Type\Checkbox">
                    <label>Address autocompletion</label>
                    <button_label>Enabled</button_label>
                </field>
                <field id="active_housenumber_hint" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1"
                       translate="label tooltip" type="Netresearch\ConfigFields\Model\Type\Checkbox">
                    <label>Show house number hint</label>
                    <button_label>Enabled</button_label>
                    <tooltip>Show an infobox on the street address field, if an address suggestion was selected to remind the customer of adding their house number.</tooltip>
                </field>
                <field id="housenumber_hint" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1"
                       translate="label comment" type="text">
                    <depends>
                        <field id="active_housenumber_hint">1</field>
                    </depends>
                    <label>House number hint text</label>
                    <comment>Text displayed as infobox on street address field</comment>
                    <validate>validate-length maximum-length-255</validate>
                </field>
             </group>
        </section>
    </system>
</config>
